# IDEs
.idea/


# Results
chkpts/
*.pkl

# Native build outputs
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Python stuff
*.pyo
__pycache__


# Temporary files
*~
